.title_content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  background-color: rgb(94, 126, 230);
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  background-color: rgb(140, 161, 227);
  border-radius: 8px;
  padding: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(105, 132, 220);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.last_card {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 94, 203);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card_btn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-right: 15px;
}

.btn_edit {
  width: 100px;
  background: rgb(55, 158, 48);
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn_delete {
  width: 100px;
  background: rgb(158, 48, 48);
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}